<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="JM Admin" lan="" version="1.1.0" date="2020-08-08" compatibility="2.3" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com/" />
	<summary lan="">The simple Plugin for Customization of Admin Area </summary>
	<description lan="">The simple Plugin for Customization of Admin Area</description>
	<keywords>
		<word>admin</word>
		<word>tools</word>
	</keywords>
	<category>tools</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_64.png" iconSmall="images/icon_32.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="adminlook_removetooltips">1</pref>
		<pref name="colorpicker_enabled">1</pref>
		<pref name="adminlook_kadmin">1</pref>
		<pref name="adminlook_navheader_bg">1</pref>
		<pref name="adminlook_navheader_color">1</pref>
		<pref name="adminlook_maintitles">1</pref>
		<pref name="dashboard_remove_stats">1</pref>
		<pref name="dashboard_remove_news">1</pref>	
	</pluginPrefs>	
</e107Plugin>