<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Web Links" lan="_WEBLINKS" version="1.0" date="2017-03-07" compatibility="2.0" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com/" />
	<summary lan="">Web Links Module from United Nuke ported for e107</summary>
	<description lan="">Plugins uses tables and functionality from UN Nuke</description>
	<keywords>
		<word>information</word>
		<word>content</word>
		<word>links</word>
	</keywords>
	<category>content</category>
	<copyright>e107sk</copyright>
	<adminLinks>
		<link url="admin/admin_config.php" description="" icon="images/weblinks64.png" 
		iconSmall="images/weblinks32.png" icon128="images/weblinks.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}web_links/web_links.php" perm='everyone' lan=''>_WEBLINKS</link>
	</siteLinks>
	<pluginPrefs>
		<pref name='perpage'>10</pref>
		<pref name='popular'>5000</pref>
		<pref name='linksresults'>10</pref>
		<pref name='links_anonaddlinklock'>1</pref>
		<pref name='anonwaitdays'>1</pref>
		<pref name='outsidewaitdays'>1</pref>
		<pref name='useoutsidevoting'>1</pref>
		<pref name='anonweight'>10</pref>
		<pref name='outsideweight'>20</pref>
		<pref name='detailvotedecimal'>2</pref>
		<pref name='mainvotedecimal'>1</pref>
		<pref name='toplinkspercentrigger'>0</pref>
		<pref name='toplinks'>25</pref>
		<pref name='mostpoplinkspercentrigger'>0</pref>
		<pref name='mostpoplinks'>25</pref>
		<pref name='linkvotemin'>5</pref>
		<pref name='blockunregmodify'>1</pref>
		<pref name='user_addlink'>1</pref>
	</pluginPrefs>
</e107Plugin>