<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="JM Core" lan="" version="1.8.0" date="2020-02-02" compatibility="2.3.0" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com/" />
	<summary lan="">Some little things not worthy to create separate plugin </summary>
	<description lan="">Some little things not worthy to create a separate plugin</description>
	<keywords>
		<word>admin</word>
		<word>seo</word>
	</keywords>
	<category>tools</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin/admin_adminlook.php" description="" icon="images/icon_64.png" iconSmall="images/icon_32.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="onepage_active">0</pref>
		<pref name="onepage_exclude">contact*</pref>
	</pluginPrefs>	
</e107Plugin>