<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="JM Downloads" lan="LAN_001" version="1.0.1" date="2018-06-19" compatibility="2.0" installRequired="true" >
	<author name="Jimako" url="https://www.e107.sk/" />
	<summary lan="">Some missing menu for download plugin</summary>
	<description lan="">Some missing menu for download plugin</description>
	<keywords>
		<word>admin</word>
		<word>download</word>
		<word>menu</word>
	</keywords>
	<category>content</category>
	<copyright>https://www.e107.sk/</copyright>
	<adminLinks>
		<link url="admin/admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='latestmenu_amount'>6</pref>
		<pref name='latestmenu_category'>1</pref>
		<pref name='latestmenu_date'>1</pref>
		<pref name='latestmenu_author'></pref>
		<pref name='latestmenu_adminlink'></pref>
	</pluginPrefs>	
</e107Plugin>