<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Contact Us" lan="LAN_CP_NAME" version="1.2.0" date="2020-02-26" compatibility="2.0" installRequired="true" >
	<author name="Jimako" url="https://www.e107.sk/" />
	<summary lan="">Contact Us plugin by Spinning Planet - courtesy of original author</summary>
	<description lan="">Contact Us plugin by Spinning Planet - courtesy of original author. A Plugin that replaces the core e107 contact page. This plugin will store all message sent through the contact form. Also has a simple interface to edit Contact Information</description>
	<keywords>
		<word>information</word>
		<word>contact</word>
		<word>page</word>
	</keywords>
	<category>content</category>
	<copyright>SP+e107.sk</copyright>
	<adminLinks>
		<link url="admin/config.php" description="" icon="/img/SP_ContactUs_32.png" iconSmall="/img/SP_ContactUs_16.png" icon128="/img/SP_ContactUs_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
  <siteLinks>
      <link url="contactus/" sef='index' perm="everyone" >Contact</link>
  </siteLinks>
	<pluginPrefs>
		<pref name='jmcontactus_settings_emailto'></pref>
		<pref name='jmcontactus_settings_emailcopy'>1</pref>
		<pref name='jmcontactus_settings_emailfromname'>1</pref>		
		<pref name='jmcontactus_settings_savetodb'>1</pref>
		<pref name='jmcontactus_settings_showinfo'>1</pref>
		<pref name='jmcontactus_settings_showform'>1</pref>
		<pref name='jmcontactus_thankyou_msg'>Thank you for taking the time to contact us, we will contact you soon</pref>
		<pref name='jmcontactus_googlemapsapikey'></pref>
	</pluginPrefs>
</e107Plugin>